In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("tse.xlsx")

In [5]:
df.drop(columns = ['Unnamed: 0', '[$InsCode]'], inplace=True)

In [87]:
en_df = pd.DataFrame()

In [100]:
df.head()

,اولین قیمت,نماد,تاریخ,نام,قیمت پایانی,قیمت آخرین معامله,تعداد معاملات,حجم,ارزش,کمترین قیمت,بیشترین قیمت,قیمت دیروز,تغییر
0,619,بموتوح,20081206,ح . موتوژن‌,619,619,1,500,309500,619.0,619.0,605,14
1,2657,كاما,20081206,باما,2605,2657,14,21000,55793000,2656.0,2657.0,2580,25
2,1500,شتوليح,20081206,ح . تولي‌پرس‌,1500,1500,1,733,1099500,1500.0,1500.0,1486,14
3,2977,ثشاهد,20081206,سرمايه‌ گذاري‌ شاهد,2910,2977,34,130347,388043019,2977.0,2977.0,2891,19
4,1748,لسرما,20081206,سرما آفرين‌,1706,1748,2,9514,16630472,1748.0,1748.0,1698,8

In [104]:
en_df["Date"] = df["تاریخ"].astype(str)

In [105]:
en_df["Date"] = pd.to_datetime(en_df["Date"])

In [106]:
en_df[["Symbol", "Name", "Yesterday price", "First price", "Last price", "Closing price", "Closing price change", "Minimum price", "Maximum price", "Number of trades", "Volume", "Trade value"]] = df[["نماد", "نام", "قیمت دیروز", "اولین قیمت", "قیمت آخرین معامله", "قیمت پایانی", "تغییر", "کمترین قیمت", "بیشترین قیمت", "تعداد معاملات", "حجم", "ارزش"]]

In [107]:
en_df.to_csv('tse_en.csv', index=False)